/* Google Fonts import link (Merriweather for headlines and Raleway for text) */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS variables */

:root {
    --primary-font: "Merriweather", serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-color: #1A1A1A;  /* eerie black */
    --secondary-color: #2A2A2A;  /* jet */
    --text-color: #999999;  /* battleship gray */
    --headline-color: #FFB700;  /* selective yellow */
}


/* Global styles */

body {
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
}


h1, h2, h3 {
    color: var(--headline-color);
    font-family: var(--primary-font);
}


p {
    color: var(--text-color);
    font-family: var(--secondary-font);
    line-height: 1.6;
}


/* Navbar styling */

.navbar-brand i {
    margin-right: 1.5rem; 
}


.nav-link {
    transition: color 0.3s ease;
}


/* Footer styling */

.footer-dark {
    background-color: var(--primary-color);
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}


.footer-text {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
}


.footer-link {
    color: var(--headline-color);  
    text-decoration: none;
    transition: all 0.3s ease;
}


.footer-link:hover {
    text-decoration: underline;     
}


.footer-dark .author {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
}


/* Navbar and footer borders */

#navbar, #footer {
    border: 2px solid var(--text-color);
    border-radius: 7px;
    position: relative;
    z-index: 1;  
    background-color: #000; 
}


/* Sidebars with calligraphy art from the Kiswah */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 40px;
    background-image: url(../images/kiswah-kaaba.webp);
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 0.75;
    z-index: 0;
}


.sidebar-left { 
    left: 0; 
}


.sidebar-right { 
    right: 0; 
}


/* Main element centered */

.page-wrap, main {
    margin-left: 45px;   
    margin-right: 45px;   
    max-width: 900px;     
    margin-inline: auto;  
    padding: 20px;
    text-align: center;   
}


/* Styling of the background information and game instruction blocks */

.background-information,
.game-instructions {
    background-color: #222222;      
    border-radius: 15px;            
    padding: 25px;                  
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); 
    max-width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.background-information {
    text-align: left;
}


.game-instructions {
    text-align: left; 
}


.background-information:hover,
.game-instructions:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}


/* Spacing for columns */

.row.justify-content-center > .col-xl-6 {
    margin-bottom: 20px;
}

/* Styling of lists inside main element */

.background-information li,
.game-instructions li {
    color: var(--text-color);
    list-style: none;
    margin-bottom: 1rem;
}

.background-information li i,
.game-instructions li i {
    margin-right: 0.6rem;
}


/* Styling of game-level div and buttons*/

#game-levels-container {
    background-color: #222222;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    padding: 25px;
}


#button-headline {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}


#game-levels-container .btn-warning {
    transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}

#game-levels-container .btn-warning:hover {
    
    font-weight: 700;
    background-color: #e6a700;
    color: #000;
}


/* Game background container */

.game-background {
    position: relative;
    background-image: url(../images/kaaba-background.webp);
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 900px;
}

.game-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 15px;
  z-index: 1;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  width: 100%;
  z-index: 2;
}


/* Responsive typography */

@media (max-width: 768px) {
    .footer-text { font-size: 1rem; }
}


/* Responsive sidebars */

@media (max-width: 768px) {
    .sidebar { width: 20px; }
    .page-wrap, main {
        margin-left: 25px;
        margin-right: 25px;
    }
}


/* Arabic text display (left to right) */

[dir="rtl"] {
    font-size: 1.2em;
    font-weight: 500;
}
